<%= simple_form_for(@contact, html: { class: "form-horizontal"}) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 

    <%= f.input :name, label: false, placeholder: 'Tu nombre', as: :text, input_html: { rows: "1"} %>
    <%= f.input :phone, label: false, placeholder: 'Teléfono', as: :text, input_html: { rows: "1"} %>
    <%= f.input :email, label: false, placeholder: 'Correo electrónico', as: :text, input_html: { rows: "1"} %>
    <%= f.input :company, label: false, placeholder: 'Compañía o negocio', as: :text, input_html: { rows: "1"} %>
    <%= f.input :message, label: false, placeholder: 'Mensaje', as: :text, input_html: { rows: "5"} %>
    <%= f.input :twitter, label: false, placeholder: 'Twitter', as: :text, input_html: { rows: "1"} %>
    <%= f.input :website, label: false, placeholder: 'Sitio web', as: :text, input_html: { rows: "1"} %>
    <div class="sendit">
      <br/>
      <%= f.button :submit, 'Enviar mensaje' %>
    </div>
    <br/>
<% end %>
